
<div>
	<div id="login-bg">
		<img ng-src="doors/{{reset.door.file}}" id="login-hero">
	</div>
	<div id="login-overlay">
	</div>
	<div id="login-info-bottom">
		<b>{{reset.door.author}}</b> <i>{{reset.door.title}}</i> 
		<a href="{{reset.door.link}}" ng-if="reset.door.link">
			<i class="fas fa-external-link-square-alt"></i> 
		</a>
	</div>
	<div id="login-row">
		<div id="login-box">
			<div class="row" ng-if="!reset.user.id">
				<div class="col-md-12">
					<div class="form-group">
						<B style="font-size: 1.5em">Reset Password</b></h4>
					</div>
				</div>				
				<div class="col-md-12">
					<div class="form-group">
						Please enter your username. If we find a matching account, we will send you a temporary token.
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="input-group">
							<input class="form-control" placeholder="Enter username" ng-model="reset.username" ng-disabled="reset.initiateStep != 1">
							<div class="input-group-append">
								<button class="btn btn-primary" ng-click="reset.initiateReset()" ng-disabled="reset.initiateStep != 1">
									Get token
									<i class="fas fa-paper-plane"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<input class="form-control" placeholder="Enter token" ng-model="reset.token" ng-disabled="reset.initiateStep != 2">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group clearfix">
						<div>
							<div class="alert alert-info" ng-if="reset.initiateStep == -1">Please wait ... </div>
							<div class="alert alert-danger" ng-if="reset.initiateStep == -2">Reset failed!</div>
						</div>
						<div class="float-right">
							<a href="#/reset" class="btn btn-link" ng-click="reset.cancel()">
								Cancel
							</a>
							<button 
								class="btn" 
								ng-class="{'btn-primary' : reset.initiateStep == 2 }" 
								ng-class="{'btn-danger' : reset.initiateStep == -2 }" 
								ng-click="reset.completeReset()" ng-disabled="reset.initiateStep != 2">
								Confirm
								<i class="fas fa-envelope-open-text"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="reset.user.id">
				<div class="col-md-12">
					<div class="col-md-12">
						<div class="form-group">
							<B style="font-size: 1.5em">Update Password</b></h4>
						</div>
					</div>				
				</div>				
				<div class="col-md-12">
					<div class="form-group">
						Your password needs to be updated. Please enter a new password below, then enter it again to confirm.
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<input class="form-control" type="password"  placeholder="Password" ng-model="reset.pw.pw1" ng-change="reset.check(reset.pw)">
						<div class="progress" style="height: 3px;">
						  <div class="progress-bar bg-success" role="progressbar" ng-style="reset.pw.progressWidth" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
					<div class="form-group">
						<input class="form-control" type="password" ng-disabled="reset.pw.progress < 100" placeholder="Repeat" ng-model="reset.pw.pw2" ng-change="reset.check(reset.pw)">
					</div>
					<div class="form-group clearfix">
						<div>
							<div class="alert alert-info" ng-if="reset.step == -1">Please wait ... </div>
							<div class="alert alert-danger" ng-if="reset.step == -2">Reset failed!</div>
						</div>
						<div class="float-right">
							<a href="#/reset" class="btn btn-link" ng-click="reset.cancel()">
								Cancel
							</a>
							<button class="btn btn-primary" ng-disabled="!reset.pw.ok" ng-click="reset.updatePassword()">
								Update
								<i class="fas fa-sign-in-alt"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>