<html>
	<head>
		<base href="/ui/">
		<link id="main_styles" rel="stylesheet" href="dist/css/styles.css" />
	</head>
	<script src="dist/js/dependencies.js"></script>
	<script>
		angular.module("templates", []);
	</script>
	<script src="dist/js/templates.js"></script> 
	<script th:src="'dist/js/app.js?v='+${v}"></script> 
	<body ng-app="rooster" style="overflow: scroll"  ng-controller="RootController as root">
		<div include-components="/area/top" class="pull-right"  ng-if="root.show">
		</div>
		<div class="main"  ng-if="root.show">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<br>
						<br>
						<br>
						<br>
					</div>
				</div>
				<div class="row" ng-view="">
				</div>
			</div>
		</div>
	</body>
	<script>
	    function htmlbodyHeightUpdate(){
			var height3 = $( window ).height()
			var height1 = $('.nav').height()+50
			height2 = $('.main').height()
			if(height2 > height3){
				$('html').height(Math.max(height1,height3,height2)+10);
				$('body').height(Math.max(height1,height3,height2)+10);
			}
			else
			{
				$('html').height(Math.max(height1,height3,height2));
				$('body').height(Math.max(height1,height3,height2));
			}
			
		}
		$(document).ready(function () {
			htmlbodyHeightUpdate()
			$( window ).resize(function() {
				htmlbodyHeightUpdate()
			});
			$( window ).scroll(function() {
				height2 = $('.main').height()
	  			htmlbodyHeightUpdate()
			});
		});	
	</script>
</html>
